/.vs/Div1Sample/CopilotIndices
/.vs/Div1Sample/BlueprintCache
/.vs/Div1Sample/FileContentIndex
.vs/Div1Sample/v17/.suo
.vs/Div1Sample/v17/Browse.VC.db
/.vs/Div1Sample/v17
/.vs/Div1Sample/v18
/Binaries/Win64
/Intermediate
UpgradeLog.htm
UpgradeLog2.htm
